<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-logcat-logs" version="0.0.0">
    <name>LogCat Logs</name>
    <description>Gets logcat logs</description>
    <license>Apache 2.0</license>
    <keywords>cordova,logcat,logs,debug</keywords>
    <js-module src="www/LogCatLogs.js" name="LogCatLogs">
        <clobbers target="LogCatLogs" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="LogCatLogs">
                <param name="android-package" value="org.apache.cordova.logcat.LogCatLogs" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/LogCatLogs.java" target-dir="src/org/apache/cordova/logcat" />
    </platform>
</plugin>